@font-face {
    font-family: AkiraExpanded;
    src: url(../fonts/AkiraExpanded.otf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
}
.container {
    width: 1216px;
    margin: 0 auto;
}
/* --- Start Css Header ----*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent; 
    padding-top: 51px; 
} 
header .row {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.1fr;
    align-items: center;
}
header .row .site-logo img{
    max-width: 100%;
}
header .row .nav-links ul {
    list-style-type: none;
    display: flex;
    grid-gap: 0px 40px;
}
header .row .nav-links ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-family: AkiraExpanded;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
}
header .row .nav-links ul li a:hover{
    color: #FF0000;
    transition: 0.9s;
}
header .row .right-btn a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    font-family: AkiraExpanded;
    padding: 14px 16px 13px 17px;
    border: 1px solid #fff;
    color: #fff;
}
header .row .right-btn a:hover{
    background-color: #FF0000;
    transition: 0.9s;
}
/* --- Close Css Header ----*/
/* --- Start  Css Home Banner ----*/
.home-banner {
    width: 100%;
    height: auto;
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 185px 0px 209px 0px;
}
.home-banner .c-banner {
    text-align: center;
}
.home-banner .c-banner h4{
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    line-height: 24px;
    font-family: AkiraExpanded;
    margin-bottom: 15px;
}
.home-banner .c-banner h1{
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    font-family: AkiraExpanded;
    line-height: 70px;
    text-transform: uppercase;
    max-width: 1031px;
    margin: 0 auto;
}
.home-banner .c-banner h1 span{
    font-size: 70px;
    font-weight: 800;
    color: #FF0000;
    text-transform: uppercase;
    line-height: 70px;
    font-family: AkiraExpanded;
}
.home-banner .c-banner .c-btns{
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    font-family: AkiraExpanded;
    padding: 15px 20px;
    background-color: #FF0000;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
}
.home-banner .c-banner .c-btns:hover{
    background-color: #FFFFFF;
    transition: 0.9s;
    color: #FF0000;
}
/* --- Close Css Home Banner ----*/
/* --- Start Css Section One----*/
.section-one {
    padding: 50px 0px 50px 0px;
}
.section-one .logo-slider .logo-container{
    max-width: 1032px;
    margin: 0 auto;
}
.section-one .logo-slider .top-slider .top-wrapper{
    align-items: center;
}
.section-one .logo-slider .swiper-slide {
    width: fit-content;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
}
.section-one .logo-slider .swiper-slide img {
    max-width: 100%;
    margin-right: 0px;
}
/*--- Close Css Section One ----*/
/*--- Start Css Section Two ----*/
.section-two {
    padding: 66px 0px 50px 0px;
}
.section-two .n-heading {
    display: flex;
    position: relative;
}   
.section-two .news-head h3{
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    font-family: AkiraExpanded;
}
.section-two .swiper {
    width: 100%;
    height: 100%;
}
.section-two .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
}
.section-two .news-slider .news-wrapper {
    margin-top: 20px;
}
.section-two .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-two .swiper-slide .card .top-img img {
    max-width: 100%;
    filter: grayscale(1);
}
.section-two .swiper-slide .card .top-content{
    background-color: #000000;
    text-align: left;
    padding: 25px 0px 25px 30px;
}
.section-two .swiper-slide .card .top-content h3{
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.section-two .swiper-slide .card .top-content p{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    font-family: Montserrat-Medium;
    color: #FFFFFF;
    max-width: 299px;
    margin-bottom: 26px;
}
.section-two .swiper-slide .card .top-content a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    line-height: 21;
    font-family: AkiraExpanded;
    color: #FFFFFF;
}
.section-two .swiper-wrapper .swiper-slide .card .top-content a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    color:#FFFFFF;
    padding: 3px 0px 3px 15px;
    text-transform: uppercase;
    background-color: #FF0000;
}
.section-two .swiper-wrapper .swiper-slide .card .top-content a .one-arrow{
    padding-left: 162px;
}
.section-two .swiper-wrapper .swiper-slide .card .top-content a .two-arrow{
    padding-left: 15px;
}
.section-two .swiper-button-prev {
    width: 0px;
    height: 0px;
    left: 1115px;
    background-color: #FF0000;
    padding: 20px 20px;
    margin-top: 0px;
    top: 0;
}
.section-two .swiper-button-next {
    width: 0px;
    height: 0px;
    margin-top: 0px;
    top: 0px;
    background-color: #FF0000;
    padding: 20px 20px;
}
.section-two .swiper-button-prev:after{
    content: 'prev';
    font-size: 20px;
    color: #FFFFFF;
}
.section-two .swiper-button-next:after{
    content: 'next';
    font-size: 20px;
    color: #FFFFFF;
}
/*--- Close Css Section Two ----*/
/* --- Start Css Section Three----*/
.section-three{
    padding: 100px 0px 146px 0px;
}
.section-three .row {
    display: grid;
    grid-template-columns: 0.5fr 0.5212fr 0.77fr;
}
.section-three .row .box-one .top{
    background-color: #000000;
    text-align: center;
    padding:  96px 77px 94px 75px;
}
.section-three .row .box-one .top h3{
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
    max-width: 232px;
    margin: 0 auto;
}
.section-three .row .box-one .bottom{
    background-color: #FF0000;
    text-align: center;
    padding:  81px 81px 58px 79px;
}
.section-three .row .box-one .bottom img{
    max-width: 100%;
    margin-bottom: 30px;
} 
.section-three .row .box-one .bottom h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
    max-width: 224px;
    margin: 0 auto;
}
.section-three .row .box-two img {
    max-width: 100%;
    filter: grayscale(1);
}
.section-three .row .box-three .top {
    background-color: #FF0000;
    text-align: center;
    padding: 3px 0px 15px 0px;
}
.section-three .row .box-three .top h3{
    font-size: 187px;
    font-weight: 800;
    line-height: 187px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
}
.section-three .row .box-three .top h4{
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
    max-width: 223px;
    margin: 0 auto;
}
.section-three .row .box-three .bottom {
    background-color: #000000;
    padding: 47px 64px 47px 67px;
}
.section-three .row .box-three .bottom h3{
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
    max-width: 364px;
    margin: 0 auto;
} 
.section-three .row .box-three .bottom h3 span{
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    font-family: AkiraExpanded;
    color: #FF0000;
}
/* --- Close Css Section Three----*/
/* --- Start Css Section Four----*/
.section-four {
    padding: 85px 0px 49px 0px;
    background-color: #000000;
}
.section-four .one-row {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
}
.section-four .one-row .left {
    max-width: 365px;
}
.section-four .one-row .left .p-one{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: #FFFFFF;
    font-family: Montserrat-Medium;
}
.section-four .one-row .left h3{
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #FFFFFF;
    font-family: AkiraExpanded;
    margin-top: 14px;
}
.section-four .one-row .left .p-two{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: #FFFFFF;
    font-family: Montserrat-Medium;
    margin-top: 8px;
}
.section-four .one-row .left .p-three{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color:#FF0000;
    font-family: Montserrat-Medium;
    margin-top: 53px;
}
.section-four .one-row .right {
    display: flex;
    grid-gap: 0px 45px;
    align-items: center;
}
.section-four .one-row .right .one-img{
    max-width: 100%;
}
.section-four .one-row .right .two-img{
    max-width: 100%;
}
.section-four .one-row .right .one-img{
    background-color: #FFFFFF;
    padding: 52px 58px 52px 58px;
}
.section-four .one-row .right .two-img{
    background-color: #FFFFFF;
    padding: 82px 66px 82px 66px;
}
.section-four .one-row .right .texts{
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    font-family: AkiraExpanded;
    color:#FF0000;
}
.section-four .second-row .top-text{
    padding-top: 66px;
}
.section-four .second-row .top-text h3{
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
}
.section-four .second-row .t-data .row{
    display: grid;
    grid-template-columns: 7% 23% 25% 20% 14% 10%;
    align-items: center;
    opacity: 1;
    border-bottom: 1px solid #2D2D2D;
    padding: 27px 0px 7px 0px;
}
.section-four .second-row .t-data .row-two{
    display: grid;
    grid-template-columns: 7% 23% 25% 20% 15% 10%;
    align-items: center;
    opacity: 1;
    border-bottom: 1px solid #2D2D2D;
    padding: 17px 0px 9px 0px;
}
.section-four .second-row .t-data .row-three{
    display: grid;
    grid-template-columns: 7% 23% 25% 20% 15% 10%;
    align-items: center;
    opacity: 1;
    padding: 15px 0px 0px 0px;
    border-bottom: none !important;
}
.section-four .second-row .t-data .row .one h4{
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    font-family: AkiraExpanded;
    color: #FFFFFF;
    display: inline;
}
.section-four .second-row .t-data .row .two h4{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    font-family: Montserrat-Medium;
}
.section-four .second-row .t-data .row .three h4{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    font-family: Montserrat-Medium;
}
.section-four .second-row .t-data .row .four{
    display: flex;
    align-items: center;
    grid-gap: 0px 15px;
}
.section-four .second-row .t-data .row .fourss{
    display: flex;
    align-items: center;
    grid-gap: 0px 22px;
}
.section-four .second-row .t-data .row-one .six-plane{
    grid-gap: 0px 14px !important;
}
.section-four .second-row .t-data .row .four h4{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    font-family: Montserrat-Medium;
}
.section-four .second-row .t-data .row .five h4{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    font-family: Montserrat-Medium;
}
.section-four .second-row .t-data .row .six{
    display: flex;
    align-items: center;
    grid-gap: 0px 15px;
    justify-content: center;
}
.section-four .second-row .t-data .row .six h4{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    font-family: Montserrat-Medium;
}
/* --- CLose Css Section Four----*/
/* --- Start Css Section Five----*/
.section-five {
    padding: 150px 0px 146px 0px;
}
.section-five .row{
    display: grid;
    grid-template-columns: 0.64fr 0.5fr
}
.section-five .row .left img{
    max-width: 100%;
}
.section-five .row .right {
    padding: 128px 0px 0px 30px;
}
.section-five .row .right a {
    font-size: 15px;
    text-decoration: none;
}
.section-five .row .right a i {
    color: #FFFFFF;
} 
.section-five .row .right h3{
    font-size: 50px;
    font-weight: 800;
    font-family: AkiraExpanded;
    line-height: 50px;
    margin-top: 16px;
    max-width: 503px;
}
.section-five .row .right .shop-btn {
    background-color: #FF0000;
    padding: 15px 30px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
    font-family: AkiraExpanded;
    line-height: 27px;
    display: inline-block;
    margin-top: 62px;
}
.section-five .row .right .shop-btn:hover{
    background-color: #FFFFFF;
    transition: 0.9s;
    color: #FF0000;
    border: 1px solid #FF0000;
}
/* --- Close Css Section Five----*/
/* --- Start Css Section six----*/
.section-six .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FF0000;
}
.section-six .row .left{
    padding: 181px 120px 205px 112px;
    /* background-color: #FF0000; */
}
.section-six .row .left .l-text h3{
   font-size: 80px;
   font-weight: 800;
   line-height: 80px;
   font-family: AkiraExpanded;
   color: #fff;
   max-width: 557px;
}
.section-six .row .left .l-social {
    margin-top: 63px;
}
.section-six .row .left .l-social ul{
    list-style-type: none;
    display: flex;
    grid-gap: 0px 15px;;
}
.section-six .row .left .l-social ul li a{
   text-decoration: none;
   color: #FF0000;
   background-color: #FFFFFF;
   padding: 27px 26px 27px 26px;
}
.section-six .row .left .l-social ul li a:hover{
    background-color: #FF0000;
    transition: 0.9s;
    color: #FFFFFF;
}
.section-six .row .left .l-social ul li a i{
    font-size: 20px;
}
.section-six .row .left .l-social ul li a img{
    max-width: 100%;
}
.section-six .row .right img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    filter: grayscale(1);
}
/* --- Close Css Section six----*/
/*--- Start Css Footer ----*/
footer {
    padding: 131px 0px 26px 0px;
    background-color: #000000;
}
footer .row {
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: 1fr;
    text-align: center;
}
footer .row .f-img img {
    max-width: 100%;
    height: auto;
}
footer .row .f-socials {
    margin-top: 57px;
}
footer .row .f-socials ul{
    list-style-type: none;
    display: flex;
    grid-gap: 0px 41px;
    justify-content: center;
}
footer .row .f-socials ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: AkiraExpanded;
}
footer .row .f-menu{
    border-bottom: 1px solid #2D2D2D;
}
footer .row .f-menu {
    margin-top: 54px;
}
footer .row .f-menu ul{
    list-style-type: none;
    display: flex;
    grid-gap: 0px 40px;
    justify-content: center;
    margin-bottom: 29px;
}
footer .row .f-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: AkiraExpanded;
    font-weight: 800;
    line-height: 21px;
}
footer .row .f-copyright {
    padding-top: 30px;
}
footer .row .f-copyright {
    font-size: 14px;
    font-family: AkiraExpanded;
    font-weight: 800;
    line-height: 21px;
    color: #fff;
}
footer .row .f-copyright p i{
    color: #FF0000;
}
footer .row .f-copyright p a{
    text-decoration: none;
    color: #FFFFFF;
}
footer .row .f-copyright p a:hover{
    color: #FF0000;
    transition: 0.9s; 
}
footer .row .f-menu ul li a:hover{
    color: #FF0000;
    transition: 0.9s; 
}
footer .row .f-socials ul li a:hover{
    color: #FF0000;
    transition: 0.9s; 
}
/*--- Close Css Footer ----*/